# CREDIT CARD FRAUD DETECTION USING LOGISTIC REGRESSION

In [29]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings("ignore")

In [30]:
df = pd.read_csv(r"C:\Users\HP\Desktop\Data related files\Credit Card Fraud Dataset\creditcard.csv")
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [31]:
df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [33]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [34]:
df['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [35]:
real = df[df.Class == 0]
fraud = df[df.Class == 1]

In [36]:
real.shape

(284315, 31)

In [37]:
fraud.shape

(492, 31)

In [38]:
real.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [39]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [40]:
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [41]:
#as the data is imbalanced as we can see that the real cases are over 2 lakhs and the fraudulent cases are only 492 so we are
#going to take any random 492 

real_sample = real.sample(n=492) #random sampling

In [42]:
#concatinating two datasets 
new = pd.concat([real_sample, fraud], axis = 0) #values will be added row wise

In [43]:
new.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
81679,59042.0,1.251956,-0.464915,-0.129615,-0.513229,-0.664776,-1.055139,0.074113,-0.347746,-1.328495,...,-0.317431,-0.491970,0.005741,0.459436,0.322893,1.073298,-0.077856,0.007361,67.50,0
110183,71714.0,-0.744164,-0.689037,2.095510,-2.405102,-1.436101,-0.025736,0.011726,0.041713,-2.358284,...,0.098789,0.400263,0.055294,0.053773,0.337433,-0.157854,0.037855,0.074762,148.00,0
68079,52824.0,1.145852,-0.182185,0.106589,1.089140,0.100170,0.949559,-0.374217,0.387070,0.629015,...,-0.067305,-0.077955,-0.244110,-1.180000,0.717533,-0.182391,0.032462,-0.004011,28.37,0
37497,38982.0,-1.321083,0.315447,1.732102,-0.865954,-1.635985,0.173292,0.467223,0.499969,0.403598,...,0.082005,0.207002,0.160614,0.463261,-0.488536,0.788704,-0.120427,0.007713,200.00,0
154984,103913.0,0.831690,-3.008023,-1.325752,-0.410791,-0.765436,1.547661,-0.476201,0.231219,1.179515,...,0.102408,-0.726164,-0.113552,-1.702283,-0.899827,-0.564765,-0.091499,0.031023,632.42,0

In [44]:
new['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [45]:
new.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,93990.833333,0.081450,-0.005262,-0.033097,0.016636,-0.006039,-0.003762,-0.004778,0.012573,-0.022016,...,-0.002680,0.047755,-0.037281,0.019643,-0.008363,0.013364,-0.005331,0.013555,0.002885,92.258374
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [46]:
X = new.drop(columns = 'Class', axis = 1)
Y = new['Class']

In [47]:
X.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
81679,59042.0,1.251956,-0.464915,-0.129615,-0.513229,-0.664776,-1.055139,0.074113,-0.347746,-1.328495,...,-0.363074,-0.317431,-0.491970,0.005741,0.459436,0.322893,1.073298,-0.077856,0.007361,67.50
110183,71714.0,-0.744164,-0.689037,2.095510,-2.405102,-1.436101,-0.025736,0.011726,0.041713,-2.358284,...,-0.030476,0.098789,0.400263,0.055294,0.053773,0.337433,-0.157854,0.037855,0.074762,148.00
68079,52824.0,1.145852,-0.182185,0.106589,1.089140,0.100170,0.949559,-0.374217,0.387070,0.629015,...,-0.225452,-0.067305,-0.077955,-0.244110,-1.180000,0.717533,-0.182391,0.032462,-0.004011,28.37
37497,38982.0,-1.321083,0.315447,1.732102,-0.865954,-1.635985,0.173292,0.467223,0.499969,0.403598,...,-0.229844,0.082005,0.207002,0.160614,0.463261,-0.488536,0.788704,-0.120427,0.007713,200.00
154984,103913.0,0.831690,-3.008023,-1.325752,-0.410791,-0.765436,1.547661,-0.476201,0.231219,1.179515,...,1.091893,0.102408,-0.726164,-0.113552,-1.702283,-0.899827,-0.564765,-0.091499,0.031023,632.42

In [48]:
Y.tail()

279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, dtype: int64

In [49]:
#splitting the data into training and testing 
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2 , stratify = Y, random_state = 2)

In [50]:
X.shape, X_train.shape, X_test.shape

((984, 30), (787, 30), (197, 30))

In [51]:
#model training 
model = LogisticRegression()

In [52]:
model.fit(X_train, y_train)

LogisticRegression()

In [53]:
X_train_prediction = model.predict(X_train)
training_accuracy = accuracy_score(X_train_prediction, y_train)

In [54]:
print('The Accuracy of the Training Model is : ', training_accuracy)

The Accuracy of the Training Model is :  0.9250317662007624

In [55]:
X_test_prediction = model.predict(X_test)
testing_accuracy = accuracy_score(X_test_prediction, y_test)

In [56]:
print('The Accuracy of the Testing Model is : ', testing_accuracy)

The Accuracy of the Testing Model is :  0.8984771573604061